<% if(items.length) { %>
	<% for(var i=0;i<items.length;i++) { %>
		<% var item = items[i], newGroup = item.group && (i === 0 || items[i - 1].group !== item.group); %>
		<% if(newGroup) { %>
			<li><button disabled class="group"><%== item.group %></button><ul class="group-list">
		<% } %>
			<li><button tab-index="0" class="<%== item.id %> <%== selected && item.id === selected.id ? 'selected' : '' %>" <%== item %>><%== item.name %></button></li>
		<% if(newGroup){ %>
			</ul></li>
		<% } %>
	<% } %>
<% } %>

<li class="no-items" style="display:<%= !items.length ? 'block' : 'none' %>"><button disabled>No items</button></li>
