<form>

	<legend>
    <div class="profile-pic" style="background-image:url(<%== this.pic %>);"></div>
    <span class="title-span" <%= (el) -> el.ui_textinput() %>>Established Timeline</span>
  </legend>

  <div class="clearfix">
    <div class="btn-group task-buttons left">
  	 <button class="btn finish" type="button">Finish</button>
     <button class="btn assign" type="button">Assign</button>
    </div>

    <div class="task-score right badge" <%= (el) -> el.ui_popover() %>><%== this.taskScore.score %></div>
  </div>

	<label for="assigned">Followers:</label>
	<ul class="followers clearfix">
    <% if(this.followers.length){ %>
      <% for (var i = 0; i < this.followers.length; i++) {  %>
		    <li><a href="#" title="<%== this.followers[i].user %>" style="background-image:url(<%== this.followers[i].pic %>)"></a></li>
      <% } %>
    <% } else { %>
      <li class="no-followers">No followers</li>
    <% } %>
		<li class="add">
      <div class="input-append">
        <button class="btn btn-small" title="Add" type="button">
          <i class="icon-add"></i>
        </button>
      </div>
    </li>
	</ul>

	<label for="assigned">Assigned to:</label>
	<input type="text" id="assigned" name="assigned" value="<%== this.assignedTo %>" required="required" <%= (el) -> el.ui_picker() %>>

	<label for="start_date">Start date:</label>
  <input type="text" value="02-16-2012" name="start_date" id="start_date" required="required" <%= (el) -> el.datepicker({ parent: el.parent(), format: 'mm-dd-yyyy' }) %>>

	<label for="due_date">Due date:</label>
  <input type="text" value="02-16-2012" name="due_date" id="due_date" required="required" <%= (el) -> el.datepicker({ parent: el.parent(), format: 'mm-dd-yyyy' }) %>>

	<label for="progress">Progress:</label>
  <div class="progress">
    <div class="bar" style="width:<%== this.progress %>;"></div>
  </div>

	<label for="project">Project:</label>
	<input type="text" id="project" name="project" value="<%== this.project %>" <%= (el) -> el.ui_typeahead() %>>

	<label for="created_by">Created:</label>
	<span id="created_by"><%== this.createdBy %> <span class="created-date"><%== this.createdOn %></span></span>

	<input class="comment" type="text" id="comment" name="comment" placeholder="Add Comment">

	<a class="logo" href="http://vision.mindjet.com"><img src="lib/app/images/mj_logo.png" alt="Mindjet" /></a>
</form>
