<form>

	<legend>
    <div class="profile-pic" style="background-image:url(<%== this.task.creator.pictures.size_32_px %>);"></div>
    <span class="title-span" <%== (el) -> el.ui_textinput() %>><%== this.task.name %></span>
  </legend>

  <div class="clearfix">
    <div class="btn-group task-buttons left">
  	 <button class="btn finish" type="button">Finish</button>
     <button class="btn assign" type="button">Assign</button>
    </div>

    <div class="task-score right badge" style="background-color:<%== this.task.scoreColor() %>" data-title="Task Score" data-content="Followers: <%== this.task.score_summary.followers.score %>" <%== (el) -> el.ui_popover({ parent: parentDom }) %>><%== this.task.score %></div>
  </div>

	<label for="assigned">Followers:</label>
	<ul class="followers clearfix">
    <% if(this.task.followers.length){ %>
      <% for (var i = 0; i < this.task.followers.length; i++) {
      	var follower = this.task.followers[i]; %>
		    <li><a href="#" title="<%== follower.name %>" style="background-image:url(<%== follower.pictures.size_24_px %>)"></a></li>
      <% } %>
    <% } else { %>
      <li class="no-followers">No followers</li>
    <% } %>
		<li class="add">
      <div class="input-append">
        <button class="btn btn-small" title="Add" type="button">
          <i class="icon-add"></i>
        </button>
      </div>
    </li>
	</ul>

	<label for="assigned">Assigned to:</label>
	<% var userList = this.task.userList() %>
	<input type="text" id="assigned" name="assigned" value="<%== this.task.owner.name %>" required="required" <%== (el) -> el.ui_picker({ items: userList, parent: parentDom }) %>>

	<label for="start_date">Start date:</label>
  <input type="text" value="<%== this.task.start_date %>" name="start_date" id="start_date" required="required" <%== (el) -> el.datepicker({ parent: parentDom, format: 'mm-dd-yyyy' }) %>>

	<label for="due_date">Due date:</label>
  <input type="text" value="<%== this.task.target_date %>" name="due_date" id="due_date" required="required" <%== (el) -> el.datepicker({ parent: parentDom, format: 'mm-dd-yyyy' }) %>>

	<label for="progress">Progress:</label>
  <div class="progress">
    <div class="bar" style="width:<%== this.task.progress %>;"></div>
  </div>

	<label for="project">Project:</label>
	<input type="text" id="project" name="project" value="<%== this.task.project.name %>" <%== (el) -> el.ui_typeahead({ parent: parentDom  }) %>>

	<label for="created_by">Created:</label>
	<span id="created_by"><%== this.task.creator.name %> <span class="created-date"><%== this.task.creator.created_at %></span></span>

	<input class="comment" type="text" id="comment" name="comment" placeholder="Add Comment">

	<ul class="comments">
		<% for(var i=0;i<this.task.comments.length;i++) {
			var comment = this.task.comments[i]; %>
			<li>
				<span class="author"><%== comment.user.name %></span>
				<span class="text"><%== comment.text %></span>
			</li>
		<% } %>
	</ul>

	<a class="logo" href="http://vision.mindjet.com"><img src="lib/app/images/mj_logo.png" alt="Mindjet" /></a>
</form>
