<form id="signup_form" name="signup" autocomplete="off" action="/user" method="POST">
  <input type="hidden" name="mobile_signup" value="1" />
  <input type="hidden" name="locale" value="<%= locale %>" />
  <fieldset>
    <ul>
      <li>
        <input class='start' type="text" placeholder="<%= message("firstName") %>" name="first_name"/>
      </li>
      <li>
        <input type="text" placeholder="<%= message("lastName") %>" name="last_name"/>
      </li>
      <li>
        <input type="email" placeholder="<%= message("emailInputPlaceholder") %>" name="email"/>
      </li>
      <li class="last">
        <input type="password" placeholder="<%= message("passwordInputPlaceholder") %>" name="password"/><br/>
        <small class="description"><%= message("passwordHint") %></small>
      </li>
      <li class="checkbox">
        <label>
          <span> <%= message("iAgree") %>
            <a target='_blank' href="<%= termsUrl %>"> <%= message("mindjetService") %> </a>,
            <a target='_blank' href="<%= privacyUrl %>"><%= message("mindjetPrivacy") %></a>, &amp;
            <a target='_blank' href="<%= conditionsUrl %>"><%= message("mindjetConditions") %></a>.
          </span>
        </label>
      </li>
      <li>
        <div class="buttons">
          <button id="signup_submit_button" class="big-button"><%= message("signUpButton") %></button>
        </div>
      </li>
    </ul>
  </fieldset>
</form>