<form>
	<legend>
    <div class="profile-pic" style="background-image:url(<%== task.owner.pictures.size_32_px %>);"></div>
    <span class="title-span" id="title" <%== (el) -> el.ui_textinput() %>><%== this.task.name %></span>
  </legend>

  <div class="clearfix">
    <div class="btn-group task-buttons left">
  	 <button class="btn status" id="closePreview" type="button">
  	 	<%== task.attr('state') == "finished" ? "Restart" : "Finish" %>
  	 </button>
     <button class="btn assign" type="button">Assign</button>
    </div>

    <div class="task-score right badge" style="background-color:<%== this.task.scoreColor() %>" data-title="Task Score" data-content="<%== can.view.render('//app/views/score_summary', task.score_summary) %>" <%== (el) -> el.ui_popover({ parent: parentDom, placement: "left" }) %>><%== this.task.score %></div>
  </div>

	<label for="assigned">Followers:</label>
	<ul class="followers clearfix">
	<% if(this.task.followers.attr('length')) { %>
	    <% if(this.task.followers.length){ %>
	      <% for (var i = 0; i < this.task.followers.length; i++) {
	      	var follower = this.task.followers[i]; %>
			    <li class="follower" <%== follower %>><a href="#" title="<%== follower.name %>" style="background-image:url(<%== follower.pictures.size_24_px %>)"><button type="button" class="close remove-follower">×</button></a></li>
	      <% } %>
	    <% } else { %>
	      <li class="follower no-followers">No followers</li>
	    <% } %>
    <% } %>
		<li class="add">
			<div class="input-append">
				<input type="text" id="followers" <%== (el) -> el.ui_picker({ items: task.followerableUsers(), parent: parentDom }) %>>
				<button class="btn btn-small add-btn" title="Add" type="button">
					<i class="icon-add"></i>
        		</button>
        	</div>
    	</li>
	</ul>

	<label for="assigned">Assigned to:</label>
	<input type="text" id="assigned" <%== (el) -> el.ui_picker({ items: task.assignableUsers(), parent: parentDom, selected: task.owner }) %>>

	<label for="start_date">Start date:</label>
  <input type="text" value="<%== this.task.start_date %>" autocomplete="off" id="start_date" <%== (el) -> el.datepicker({ parent: parentDom, format: 'mm-dd-yyyy' }) %>>

	<label for="due_date">Due date:</label>
  <input type="text" value="<%== this.task.target_date %>" autocomplete="off" id="due_date" <%== (el) -> el.datepicker({ parent: parentDom, format: 'mm-dd-yyyy' }) %>>

	<label for="progress">Progress:</label>
   <div id="status" class="progress">
      <div id="progress"></div>
    </div>

	<label for="project">Project:</label>
	<input type="text" id="project" <%== (el) -> el.ui_typeahead({ parent: parentDom, items: user.assignableProjects(), selected: task.project }) %>>

	<label for="created_by">Created:</label>
	<span id="created_by"><%== this.task.creator.name %> <span class="created-date"><%== new Date(this.task.creator.created_at).toString() %></span></span>

	<input class="comment" type="text" id="comment" placeholder="Add Comment">

	<ul class="comments">
		<% if(this.task.comments.attr('length')) { %>
			<% for(var i=0;i<this.task.comments.length;i++) {
				var comment = this.task.comments[i]; %>
				<li>
					<span class="author"><%== comment.user.name %></span>
					<span class="text"><%== comment.text %></span>
				</li>
			<% } %>
		<% } %>
	</ul>

	<a class="logo" href="http://vision.mindjet.com"><img src="https://raw.github.com/amcdaniel2/opensocial/master/lib/app/images/mj_logo.png" alt="Mindjet" /></a>
</form>
